<header>
	<div class="headwrap">
		<h1 class="headh1"><span><%= link_to "Welcome to", root_url %></span><br><span><%= link_to "Pothead's Potion Shop", root_url %></span></h1>
		<%= link_to 'Create New Potion', new_potion_path, class: 'addnew' %>
	</div>
</header>
<div class="main">
	<ul class="pot-ul">
		<% @potions.each do |potion| %>
		<li class="pot-item">
			<div class="pot-item-left" style="background-color:#66985d;"><%= link_to image_tag('potions/' + potion.pot_img), showpotion_path(potion) %></div>
			<div class="pot-item-right">
				<h3 class="pot-item-right-title">
				<%= link_to potion.pot_name, showpotion_path(potion) %></h3>
				<p class="pot-item-right-by">by: <%= potion.pot_creator %></p>
				<p class="pot-item-right-desc"><%= potion.pot_desc %></p>
				<p class="pot-item-right-detail">
				<%= link_to 'Click image or title for more info', showpotion_path(potion) %></p>
			</div>
		</li>
		<% end %>
	</ul>
</div>
<footer>
	<p class="foot-txt">.. Keep it high people ..</p>
</footer>